body{
    background-color: rgba(5, 12, 48, 0.925);
}
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .title{
        direction: rtl;
        width: 400px;
        margin: 70px auto 0;
        padding: 10px;
        text-align: center;
        color: orangered;
        background-color:rgba(69, 77, 50, 0.589);
        border-radius: 3px;
    }
    .parent{
        width: 430px;
        height: 300px;
        margin:50px auto;
        padding: 20px;
        border: 1px solid rgb(163, 52, 145);
        border-radius: 2px;
        box-shadow: 4px 4px 6px 0.9px;
        background-color: rgba(5, 12, 48, 0.925); ;
    }
    .info{
        padding: 0px 0px 20px 0;
        font-size: 30px;
        color: rgb(156, 196, 13);
    }
    #inputdama{
        width: 100%;
        padding: 14px;
        border-radius: 4px;
        border: 1px solid rgb(202, 14, 14);
        outline: none;
    }
    .parent-butn{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 40px;
    }
    .chang,
    .reset,
    .ran{
        width: 115px;
        padding: 10px;
        border: 1px solid;
        border-radius: 4px;
        background-color: wheat;
    }
    .chang:hover{
        background-color: rgb(196, 176, 64);
        transition: 0.2s;
    }
    .reset:hover{
        background-color: rgb(196, 176, 64);
        transition: 0.2s;
    }
    .ran:hover{
        background-color: rgb(196, 176, 64);
        transition: 0.2s;
    }
    .tag-p{
        width: 80%;
        text-align: center;
        margin: 25px auto 10px auto;
        font-size: 20px;
        color: blueviolet;
        transition: 0.3s;
        opacity: 0;
    }